{% extends 'base.html' %}

{% block head_title %}Edit Post{% endblock %}

{% block content %}
    <section id="edit-post" class="my-5">
        <div class="container">
            <h3 class="text-center mb-4 text-primary">编辑文章</h3>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- 文章标题 -->
                <div class="mb-4">
                    <label for="id_title" class="form-label">文章标题</label>
                    <input type="text" class="form-control" id="id_title" name="title" value="{{ form.title.value }}"
                           required>
                    {% if form.title.errors %}
                        <div class="alert alert-danger mt-2">
                            {% for error in form.title.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <!-- 文章内容 -->
                <div class="mb-4">
                    <label for="id_body" class="form-label">文章内容</label>
                    <textarea class="form-control" id="id_body" name="body" rows="8"
                              required>{{ form.body.value }}</textarea>
                    {% if form.body.errors %}
                        <div class="alert alert-danger mt-2">
                            {% for error in form.body.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="id_category" class="form-label">Select Existing Category</label>
                    {{ form.category }}
                </div>

                <div class="d-flex justify-content-between">
                    <a href="{% url 'post-view' post.id %}" class="btn my-btn">取消</a>
                    <button type="submit" class="btn my-btn">保存修改</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
