/* 注册登录表单样式 */
.user-form form {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
}

.user-form form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    /*border: none;*/
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-form form input:focus {
    border-color: #007bff;
    outline: none;
}

.user-form form button:hover {
    background-color: #0056b3;
}

/* 输入框样式 */
.user-form input[type="text"],
.user-form input[type="password"] {
    font-size: 16px;
    background-color: #fafafa;
}