{% extends 'base.html' %}
{% block title %}About - lzc's blog{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <section class="text-center py-5">
        <div class="container">
            <h2 class="display-4">欢迎来到 lzc 的博客</h2>
            <a href="https://github.com/mklzc/MyBlog" target="_blank">
                <img alt="GitHub watchers"
                     src="https://img.shields.io/github/watchers/mklzc/MyBlog.svg?style=social&amp;label=Watch">
            </a>
            <a href="https://github.com/mklzc/MyBlog" target="_blank">
                <img alt="GitHub stars"
                     src="https://img.shields.io/github/stars/mklzc/MyBlog.svg?style=social&amp;label=Stars">
            </a>
            <br>
            <br>
            <a href="https://ipw.cn/ipv6webcheck/?site=blog.asyncerror.top" title="本站支持IPv6访问"
               target='_blank'><img
                    style='display:inline-block;vertical-align:middle' alt="本站支持IPv6访问"
                    src="https://static.ipw.cn/icon/ipv6-s1.svg"></a>
            <a href="https://ipw.cn/ssl/?site=blog.asyncerror.top" title="本站支持SSL安全访问" target='_blank'><img
                    style='display:inline-block;vertical-align:middle' alt="本站支持SSL安全访问"
                    src="https://static.ipw.cn/icon/ssl-s2.svg"></a>
            <br>
            <br>
            <a href="https://www.cnblogs.com/mklzc" class="my-btn" target="_blank">我的OI博客（停止更新）</a>
            <a href="https://github.com/mklzc/MyBlog/blob/main/README.md" class="my-btn" target="_blank">README</a>
            <br>
            <br>
            <button class="my-btn" onclick="copyToClipBoard()">本站RSS订阅链接（点击复制）：https://blog.asyncerror.top/rss</button>
            <p id="copyMessage" style="color: green;"></p>
            <script>
                function copyToClipBoard() {
                    const copyText = "https://blog.asyncerror.top/rss";
                    console.error(copyText)
                    navigator.clipboard.writeText(copyText).then(() => {
                        document.getElementById("copyMessage").innerText = "复制成功！";
                    }).catch(err => {
                        console.error("复制失败:", err);
                        document.getElementById("copyMessage").innerText = "复制失败，请重试！";
                    });
                }
            </script>
        </div>
        <br>
    </section>
{% endblock %}