{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}lzc's blog{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/page/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/components/my-btn.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    {#    <script type="text/javascript" async src="{% static 'js/mathjax/tex-chtml-full.js' %}"></script>#}
{#    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>#}
    {% block head %}{% endblock %}
</head>
<body>
<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/index/' %}active{% endif %}"
                               href="/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/about/' %}active{% endif %}"
                               href="/about/">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/contact/' %}active{% endif %}" href="/contact/">Contact</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link {% if request.path|slice:":7" == "/posts/" %}active{% endif %}"
                                   href="{% url 'user-post-list' user.username %}">Blog</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/upload/' %}active{% endif %}" href="/upload/">Upload</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{% url 'user-profile' username=user.username %}">Hello, {{ user.username }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-danger" href="/logout/">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="/login/">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/register/">Sign Up</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<main class="container py-4">
    <!-- 显示消息 -->
    {% if messages %}
        <div class="alert alert-info">
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>
</main>

<footer class="text-white py-2 footer">
    <div class="container text-center">
        <p>&copy; {% now "Y" %} My Blog. All rights reserved.</p>
    </div>
</footer>

<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>

{% block extra_scripts %}{% endblock %}
</body>
</html>